src/**
out/test/**
**/*.map
tsconfig.json
node_modules/**
!node_modules/@xterm/headless/package.json
!node_modules/@xterm/headless/lib-headless/xterm-headless.js
CLAUDE.md
.vscode/**
.gitignore
scripts/**
test/**
plugin/**
.github/**
*.vsix
media/icon.svg
CONTRIBUTING.md
eslint.config.mjs
RELEASING.md
